/* dasd
colores paleta
verde: #6b8376
rosita: #d09984
rosita_2: #bba389
crema: #decdb9
salmon: #e4a681  */

#nav {
  background-color: #6b8376;
  bottom: 0;
}

.btnlucia {
  background-color: #d09984;
  border-radius: 30px;
  border-color: #6b8376;
}

.act3 {
  display: flex;
  background-color: #decdb9;
  padding: 2em;
  width: 100%;
  margin: auto;
  text-align: center;
  justify-content: space-between;
}

.tress {
  padding: 0.5em;
  border-color: #d09984;
  box-shadow: 5px 5p #bba389(204, 166, 166);
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card:hover {
  transition: all;
  transform: scale(150%);
  z-index: 10;
}

#footer {
  background-color: #6b8376;
  color: #020202;
  text-align: center;
  padding: 2em;
}

.contenedor {
  padding: 1em 0;
  margin: auto;
  overflow: hidden;
  background-color: #bba389;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #020202;
}

.indeximg,
.indeximgb {
  padding: 2em 0;
  margin: 2em 0;
  height: 90%;
  width: 90%;
  object-fit: cover;
}

.textos-header,
.textos-headerb {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: medium;
}

.titulo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

#contacto {
  padding: 2em;
  margin: 2em 0;
}
#contacto i {
  margin-right: 1em;
}

#contacto label {
  margin-bottom: 0;
}

.formContact {
  border-left: 2px solid #decdb9;
}

label.error {
  color: #e4a681;
  font-size: 1rem;
  display: block;
  margin-top: 5px;
}

.carousel-item img {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
}

.comision {
  color: #000;
  font-size: x-large;
  text-align: center;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.miembros {
  padding: 1em;
  text-align: center;
  justify-content: space-between;
}

.comisiones {
  background-color: #d09984;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  min-height: 150px;
  background-image: url("../img/parallax/dark1.jpg");
}

.parallax2 {
  min-height: 180px;
  background-image: url("../img/parallax/dark1.jpg");
}

.parallax3 {
  min-height: 120px;
  background-image: url("../img/parallax/dark1.jpg");
}

.dataContact {
  margin: auto;
}

#aboutUs:before {
  height: 54px;
  content: "";
  display: block;
}

@media (max-width: 575.98px) {
  .dataContact {
    margin-bottom: 2em;
    border-bottom: 1px groove;
    padding-bottom: 1em;
  }

  .dataContact h6 {
    margin-bottom: 2em !important;
  }

  .formContact {
    border-left: none;
  }

  .textos-header,
  .textos-headerb {
    margin: 4em 0 1em 0;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .actreal {
    display: flex;
    flex-direction: column-reverse;
  }

  .card:hover {
    transition: none;
    transform: scale(100%);
  }

  .tress {
    margin: 0.5em 0 !important;
  }

  .act3 {
    padding: 0em;
    margin-top: 1em;
  }

  .indeximg,
  .indeximgb {
    padding: 1em 0;
    margin: 0;
  }

  .dataContact span {
    font-size: 0.8em;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .dataContact {
    margin-bottom: 2em;
    border-bottom: 1px groove;
    padding-bottom: 1em;
  }

  .dataContact h6 {
    margin-bottom: 2em !important;
  }

  .formContact {
    border-left: none;
  }

  .textos-header,
  .textos-headerb {
    margin: 4em 0 1em 0;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .actreal {
    display: flex;
    flex-direction: column-reverse;
  }

  .card:hover {
    transition: none;
    transform: scale(100%);
  }

  .tress {
    margin: 0.5em 0 !important;
  }

  .act3 {
    padding: 0em;
    margin-top: 1em;
  }

  .indeximg,
  .indeximgb {
    padding: 2em 0;
    margin: 0;
  }

  .dataContact span {
    font-size: 0.8em;
  }
}
